In [62]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [63]:
# Cargaremos el archivo Excel modificado que el usuario acaba de subir
file_path_excel_modificado = 'dataset_empleados.xlsx'

In [64]:
# Utilizamos Pandas para cargar el archivo Excel modificado
df_empleados_excel_modificado = pd.read_excel(file_path_excel_modificado)

# Mostrar las primeras filas del DataFrame modificado para verificar su carga
df_empleados_excel_modificado.head()

,ID,Genero,Nivel_Educacion,Edad,Experiencia_Laboral,Especializacion,Lenguajes_Programacion,Tipo_Empresa,Ubicacion_Geografica,Salario,Horas_Trabajo,Proyectos_Actuales
0,1,Masculino,Licenciatura,28,6,Desarrollo Web,"JavaScript, HTML, CSS",Startup,"Nueva York, EE. UU.",60000,40,Aplicación Móvil
1,2,Femenino,Maestría,35,10,Seguridad,"Python, C++, Java",Corporación,"San Francisco, EE. UU.",80000,45,Análisis de Datos
2,3,Masculino,Licenciatura,26,4,Desarrollo Móvil,"Swift, Java",Startup,"Londres, Reino Unido",55000,42,Juegos en Línea
3,4,Femenino,Doctorado,40,15,Inteligencia Artificial,"Python, R",Startup,"Toronto, Canadá",95000,50,Robótica
4,5,No Binario,Licenciatura,30,7,Análisis de Datos,"SQL, R",Agencia,"Washington, D.C., EE. UU.",62000,38,Ciberseguridad

In [65]:
# Calculamos el promedio de edad y experiencia laboral separados por género
promedios_por_genero = df_empleados_excel_modificado.groupby('Genero').agg({
    'Edad': 'mean',
    'Experiencia_Laboral': 'mean'
})

promedios_por_genero

promedio edad: 33.816326530612244
promedio xp 9.326530612244898

In [66]:
# Extraemos la columna de horas de trabajo del DataFrame modificado
horas_trabajo_modificado = df_empleados_excel_modificado['Horas_Trabajo']

# Calculamos la media y la desviación estándar de las horas de trabajo
media_horas_modificado = np.mean(horas_trabajo_modificado)
std_horas_modificado = np.std(horas_trabajo_modificado, ddof=1)  # ddof=1 para muestra

# Número de observaciones
n_modificado = len(horas_trabajo_modificado)

# Calculamos el intervalo de confianza del 95% para la media
confianza = 0.95
sem_modificado = std_horas_modificado / np.sqrt(n_modificado)  # Error estándar de la media
intervalo_confianza_modificado = stats.t.interval(confianza, df=n_modificado-1, loc=media_horas_modificado, scale=sem_modificado)


print("intervalo de confianza sobre las horas de trabajo",intervalo_confianza_modificado)

intervalo de confianza sobre las horas de trabajo (42.54906633573436, 44.675423460184014)