In [27]:
import pandas as pd

In [28]:
# Cargaremos el archivo Excel original (sin las comillas añadidas)
file_path_excel_original = 'dataset_empleados.xlsx'

# Utilizamos Pandas para cargar el archivo Excel
df_empleados_excel = pd.read_excel(file_path_excel_original)

In [29]:
# Mostrar las primeras filas del DataFrame para verificar su carga
df_empleados_excel.head()

,ID,Genero,Nivel_Educacion,Edad,Experiencia_Laboral,Especializacion,Lenguajes_Programacion,Tipo_Empresa,Ubicacion_Geografica,Salario,Horas_Trabajo,Proyectos_Actuales
0,1,Masculino,Licenciatura,28,6,Desarrollo Web,"JavaScript, HTML, CSS",Startup,"Nueva York, EE. UU.",60000,40,Aplicación Móvil
1,2,Femenino,Maestría,35,10,Seguridad,"Python, C++, Java",Corporación,"San Francisco, EE. UU.",80000,45,Análisis de Datos
2,3,Masculino,Licenciatura,26,4,Desarrollo Móvil,"Swift, Java",Startup,"Londres, Reino Unido",55000,42,Juegos en Línea
3,4,Femenino,Doctorado,40,15,Inteligencia Artificial,"Python, R",Startup,"Toronto, Canadá",95000,50,Robótica
4,5,No Binario,Licenciatura,30,7,Análisis de Datos,"SQL, R",Agencia,"Washington, D.C., EE. UU.",62000,38,Ciberseguridad